.layout.registrar {
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;

}
.paper.registrar {
    margin-top: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.avatar.registrar {
    margin: 10px;
    background: floralwhite;
}

.form.registrar{
    width: 100%;
    margin-top: 30px;

}

.submit.registrar {
    marginTop: 40px;
}
