.Tarjeta.car{
    border:1px solid black;
    margin-bottom: 1em;
    border-radius: 0.5em;
    background:orangered;
    transition:all 250ms ease-out;
    color: black;
    font-size:15px;
    padding: 5px;
    width: 200px;
    height: 200px;
    margin: 10px;
    
    line-height: 25px;
    font-weight: bold;
    text-align: center;
}

