
body.login{
    background-color:rgb(226, 115, 51);
}


.form.login{
    margin-top: 5%;
    margin-right: 35%;
    margin-left: 35%;
    border-radius: 7%;
    background-color:rgb(253, 253, 253);
}

.text.login{
    margin-top: 5%;
    margin-right: 10%;
    margin-left: 10%;
}

.rigth.login{
    float: right;
    margin-right: 7%;
}
